# FOR THE SERVER TO WORK CREATE A .env FILE WITH THE FOLLOWING STRUCTURE
# THIS FILE MUST BE LOCATED AT THE ROOT OF THE BACKEND DIRECTORY

# IP
SERVERIP = "YOUR SERVER IP"

# PORTS
SERVERPORT = "YOUR SERVER PORT"
DBPORT = "YOUR DATABASE PORT"

#BDD
DBNAME = "YOUR DB NAME"
DBHOST = "YOUR DB HOST"
DBUSER = "YOUR DB USER"
DBPASSWORD = "YOUR DB PASSWORD"
DBDIALECT = "YOUR DB DIALECT"
DATABASE_URL = "postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:YOUR_DB_PORT/YOUR_DB_NAME"
DEFAULTADMINUSERNAME = "YOUR DEFAULT ADMIN USERNAME"
DEFAULTADMINEMAIL = "YOUR DEFAULT ADMIN EMAIL"
DEFAULTADMINPASSWORD = "YOUR DEFAULT ADMIN PASSWORD"

# SECRET TOKENS
TOKEN = "YOUR SUPER SECRET TOKEN"
RESETTOKEN = "YOUR SUPER SECRET RESET TOKEN"

#ROUTES
FRONTENDROUTE = "YOUR FRONTEND ROUTE"
BACKENDROUTE = "YOUR BACKEND ROUTE"

#EMAIL & DOCUMENTS VARIABLES
EMAIL_SENDER_ADDRESS = "YOUR EMAIL SENDER ADDRESS"
GMAIL_APP_PASSWORD = "YOUR GMAIL APP PASSWORD"
EMAIL_HOST = "YOUR EMAIL HOST"
EMAIL_PORT = "YOUR EMAIL PORT"
COMPLETE_IMAGES_SIGNATURES_PATH = "YOUR COMPLETE IMAGE FOLDER PATH"
