.container,
.container-md {
  width: 100%;
  padding-right: var(--space-3);
  padding-left: var(--space-3);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-md {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-md {
    max-width: 1140px;
  }
}

.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.row.g-1 {
  --gutter-x: 0.25rem;
  --gutter-y: 0.25rem;
}

.col {
  flex: 1 0 0%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%;
  }
}
