code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 32px !important;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 22px !important;
  }
}
